name: CI

on:
  push:
    branches: [ main, feat/ui-basica ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run Prettier (check)
        run: npm run prettier:check

      - name: Run tests
        run: npm test
